{% extends 'base.html' %}

{% block content %}

{#    <style>#}
{#        .testing {#}
{#            background: coral;#}
{#            margin: 1rem;#}
{#            height: 48px; {# 1rem = 18px #}
{#            width: 48px;#}
{#            border-radius: 0.5rem;#}
{#            display: inline-block; {# 7월 8일 추가 #}
{#        }#}
{#    </style>#}

    <div style="margin: 2rem; text-align: center">

        {# 7월 8일 #}
        {# form에서 method로 post를 적어줘야함 #}
{#        <form action="/accounts/hello_world/" method="post">#}
{#            {% csrf_token %} {# POST 방식을 정상적으로 하려면 꼭 적어야함 #}
{#            <input type="submit" class="btn btn-info rounded-pill px-4">#}
{#        </form>#}

        {# GET METHOD #}
{#        <h3>{{ text }}</h3>#}

        {# 7월 12일 #}
        <form action="/accounts/hello_world/" method="post">
            {% csrf_token %} {# POST 방식을 정상적으로 하려면 꼭 적어야함 #}
            <input type="text" name="input_text">
            <input type="submit" class="btn btn-info rounded-pill px-4">
        </form>

        {# GET METHOD #}
        <h3>{{ new_hello_world.text }}</h3> {# 객체의 text를 출력 #}


{#    <div class="testing" style="display: block">block</div>#}
{#    <div class="testing" style="display: inline">block</div>#}
{#    <div class="testing" style="display: inline-block">block</div>#}
{#    <div class="testing" style="display: none">block</div>#}
{#    <div class="testing">block</div>#}

    {# 7월 8일 #}
{#    <div class="testing" style="height: 48px; width: 48px">px</div>#}
{#    <div class="testing" style="height: 3rem; width: 3rem">rem</div>#}
{#    <div class="testing" style="height: 3em; width: 3em">em</div>#}
{#    <div class="testing" style="height: 3em; width: 3em">em</div>#}
{#    <div class="testing" style="height: 3em; width: 3em">em</div>#}
{#    <div class="testing" style="height: 3em; width: 3em">em</div>#}
{#    <div class="testing" style="height: 30%; width: 30%">%</div>#}

    </div>

{% endblock %}