.follow_header_logo {
    margin: 2rem 0;
    font-family: 'Otomanopee One', sans-serif;"
}

.follow_header_button {
    margin-bottom: 2rem;
}

.follow_footer_logo {
    margin: 1.5rem 0;
    font-family: 'Otomanopee One', sans-serif;
}

.follow_footer_button {
    margin-top: 1.5rem;
}