{# border-radius : 직각의 모서리를 둥글게 만들줌 #}
<div style="text-align: center">
    <div class="follow_header_logo">
        {# margin: 2rem 0; - 2개를 넣으면 2rem은 상하 0은 좌우 #}
        <h1>FollowMan</h1>
    </div>
    <div class="follow_header_button">
        {#span : 좌우로 나열됨#}
        <span>
            <a href="{% url 'articleapp:list' %}">
                Articles
            </a>
        </span>
        <span>
            <a href="{% url 'projectapp:list' %}">
                Projects
            </a>
        </span>
        {% if not user.is_authenticated %}
        <span>
            <a href="{% url 'accountapp:login' %}">Login</a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">Sign up</a>
        </span>
        {% else %}
        <span>
            <a href="{% url 'accountapp:detail' pk=user.pk %}">MyPage</a>
        </span>
        <span>
            <a href="{% url 'accountapp:logout' %}">Logout</a>
        </span>
        {% endif %}
    </div>
</div>